body{
    background-color: rgb(107 107 241);
    font: normal 15pt arial;
    text-align: center;
}

header{
    color: white;
}

section{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

a{
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
}
a:hover{
    text-shadow: 5px 5px 10px black;
}

p#link{
    color: white;
}

footer {
    color: white;
    text-align: right;
    font-style: italic;
}
